
// Body
$body-bg: white;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-gray:rgba(80, 80, 80, 0.1);

$color0 : #e3fafc;
$color1 : #c5f6fa;
$color2 : #99e9f2;
$color3 : #66d9e8;
$color4 : #3bc9db;
$color5 : #22b8cf;
$color6 : #15aabf;
$color7 : #1098ad;
$color8 : #0c8599;
$color9 : #0b7285;
