
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'node_modules/bulma/bulma.sass';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import url('https://rsms.me/inter/inter.css');
html, body { font-family: 'Inter', sans-serif; }
// @supports (font-variation-settings: normal) {
//     html, body { font-family: 'Inter var', sans-serif; }
// }


// padding and margin helpers
// sourcce : https://github.com/jgthms/bulma/issues/451#issuecomment-331758839
$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$important: 'i';
$sizes: ( ('none', 0), ('xxs', 0.125), ('xs', 0.25), ('sm', 0.5), ('md', 1), ('lg', 2), ('xl', 4), ('xxl', 8), );
$positions: ( ('t', 'top'), ('r', 'right'), ('b', 'bottom'), ('l', 'left') );

@function sizeValue($key, $value) {
    @return if($key == 'none', 0, $value + $sizeUnit);
}
@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}#{$separator}#{$important} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
        }
        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}#{$separator}#{$important} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
        }
    }
}

html,body,
.full-page {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.full-height {
    height: 100%;
}

.bg-dark {
    background-color: $color9;
}

.bg-light {
    background-color: $color0;
}

.d-flex {
  display: flex;
}

span.contrast {
    padding-left: 0.1em;
    padding-right:0.1em;
    font-weight:bold;
    font-size:130%;
    color: $color0;
    background: $color9;
    box-decoration-break:clone;
}

.subtitle {
    font-weight: 200;
}

h1.ohs-title {
    font-variation-settings: 'wght' 1000;
    font-size:4vw;
}
